<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container" style="width: 1200px; margin: 0 auto;">
        <div class="content" style="font-size: 32px; text-align: center;padding: 100px; margin: 0 auto; font-family: 'Comic Sans MS'; text-transform: uppercase;">Main page</div>
        <%- include('./partials/nav.ejs') %>
        </div>
</body>
</html>